* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}
:root {
    --iris:#4D5AE5;
    --ocean:#404BBF;
    --navyblue:#2E2F42;
    --green:#31D0AA;
    --slate:#434455;
    --light-slate:#8E8F99;
    --cornflower:#E7E9FC;
    --cloud:#F4F4FD;
    --navy-blue-modal:#2E2F4266;
    --grey:#2E2F42B2;
    --white:#FFFFFF;
    --dairy:#FCFCFC;

}
body {
    font-family: 'roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
button {
    font-family: inherit;
    border:unset;
    outline: none;
    cursor: pointer;
    padding: 16px 32px;
}
a {
    color: var(--navyblue);
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
}
a:hover {
    color: var(--ocean);
}
a:focus {
    color: var(--ocean);
}
a:active {
    color: var(--ocean);
}
.container {
    width: 1154px;
    margin: 0;
}
section {
    padding-top: 120px;
    padding-bottom: 120px;
}
.logo {
    color: var(--navyblue);
    font-family: 'Raleway',sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px; /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.logo-lower {
    color: var(--cloud);
    font-family: 'Raleway',sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px; /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.web {
    color: var(--iris)
}
.nav-item {
    text-transform: capitalize;
    display: flex;
    width: 1440px;
    height: 72px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    
}
.nav-item-link {
    color: var(--navyblue);
    font-size: 16px;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
}
.address-list {
    color: var(--slate);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
}
.section-hero{
    background-color: var(--navyblue);
    width: 1440px;
    height: 600px;
    flex-shrink: 0;
}
.hero-title {
    color: var(--white);
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 60px; /* 107.143% */
    letter-spacing: 1.12px;
}
.hero-button{
    background: var(--iris);
    color: var(--white);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.64px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.hero-button:hover {
    background-color: var(--ocean);
}
.hero-button:focus {
    background-color: var(--ocean);
}
.feature section {
    width: 1440px;
    height: 2592px;
}
.feature-title {
    color: var(--navyblue,);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px; /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
}
.feature-list {
    display:inline-flex;
}
.feature-list-item {
    display: flex;
    width: 264px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}
.feature-list-item-title {
    color: var(--navyblue,);
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}
.feature-list-item-subtitle {
    color: var(--light-slate);
}
.services section {
    width: 1440px;
    height: 2592px;
}
.services-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px; /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
    text-align: center;
}
.services-list-pictures {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
}
.services-list-pictures-item {
    display: inline-flex;

}
.section-ourteam {
    background-color: var(--cloud);
}
.ourteam-title {
    color: var(--navyblue);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px; /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
}
.ourteam-list {
    display: inline;
}
.ourteam-list-item{
    background-color: var(--white);
    display: inline-block;
}
.ourteam-list-item-title {
    color: var(--navyblue);
    text-align: center;
    font-size: 20px;
    line-height: 24px; /* 120% */
    letter-spacing: 0.4px;
}
.ourteam-list-item-subtitle {
    color: var(--light-slate);
}
.filter-list {
    text-transform: capitalize;
    list-style-type: none;
}
.filter-list-item{
    display: inline;
}
.filter-list-item button{
    background-color: var(--cornflower);
    color: var(--iris);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.64px;
    padding: 12px 24px;
    cursor: pointer;
    border: 1px solid var(--cornflower);
    border-radius: 4px;
    box-shadow: black;
}
.filter-list-item button:hover {
    background-color: var(--ocean);
    color: var(--white);
    border: 1px solid var(var(--ocean));
}
.filter-list-item button:focus {
    background-color: var(--ocean);
    color: var(--white);
    border: 1px solid var(var(--ocean));
}
.demo {
    background-color: var(--cornflower);
}
.demo-list {
    text-transform: capitalize;
    list-style-type: none;

}
.demo-list-item {
    display: flex;
    width: 360px;
    height: 420px;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    flex-shrink: 0;
}
.demo-list-item-title {
    color: var(--navyblue);
    font-size: 20px;
    line-height: 24px; /* 120% */
    letter-spacing: 0.4px;
}
.demo-list-item-subtitle {
    color: var(--slate);
}
footer {
    background-color: var(--navyblue);
}
.footer-content {
    color: var(--light-slate)
}