HTML, body {
    margin: 0px;
    padding: 0px;
    border: 0px;
}
:root {
    --iris:#4D5AE5;
    --ocean:#404BBF;
    --navyblue:#2E2F42;
    --green:#31D0AA;
    --slate:#434455;
    --light-slate:#8E8F99;
    --cornflower:#E7E9FC;
    --cloud:#F4F4FD;
    --navy-blue-modal:#2E2F4266;
    --grey:#2E2F42B2;
    --white:#FFFFFF;
    --dairy:#FCFCFC;

}
body {
    font-family: 'roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
a {
    color: var(--navyblue);
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
}
a:hover {
    color: var(--ocean);
}
a:focus {
    color: var(--ocean);
}
a:active {
    color: var(--ocean);
    text-decoration: underline;
}
.logo {
    color: var(--navyblue);
    font-family: 'Raleway',sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px; /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.logo-lower {
    color: var(--cloud);
    font-family: 'Raleway',sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px; /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.web {
    color: var(--iris)
}
.nav-item {
    text-transform: capitalize;
    
}
.nav-item-link {
    color: var(--navyblue);
    font-size: 16px;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
}
.address-list {
    color: var(--slate);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
}
.section-hero{
    background-color: var(--navyblue);
}
.hero-title {
    color: var(--white);
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 60px; /* 107.143% */
    letter-spacing: 1.12px;
}
.hero-button{
    background-color: var(--iris);
    color: var(--white);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.64px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: black;
}
.hero-button:hover {
    background-color: var(--ocean);
}
.hero-button:focus {
    background-color: var(--ocean);
}
.feature-title {
    color: var(--navyblue,);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px; /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
}
.feature-list-item-title {
    color: var(--navyblue,);
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}
.feature-list-item-subtitle {
    color: var(--light-slate);
}
.services-title{
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}
.services-list-pictures {
    display: inline;
}
.services-list-pictures-item {
    display: inline-block;
}
.section-ourteam {
    background-color: var(--cloud);
}
.ourteam-title {
    color: var(--navyblue);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px; /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
}
.ourteam-list {

    display: inline;
}
.ourteam-list-item{
    background-color: var(--white);
    display: inline-block;
}
.ourteam-list-item-title {
    color: var(--navyblue);
    text-align: center;
    font-size: 20px;
    line-height: 24px; /* 120% */
    letter-spacing: 0.4px;
}
.ourteam-list-item-subtitle {
    color: var(--light-slate);
}
.filter-list {
    text-transform: capitalize;
    list-style-type: none;
}
.filter-list-item{
    display: inline;
}
.filter-list-item button{
    background-color: var(--cornflower);
    color: var(--iris);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.64px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: black;
}
.filter-list-item button:hover {
    background-color: var(--ocean);
    color: var(--cloud)
}
.filter-list-item button:focus {
    background-color: var(--ocean);
    color: var(--cloud)
}
.demoimg {
    background-color: var(--cornflower);
}
.demoimg-list {
    text-transform: capitalize;
    list-style-type: none;
}
.demoimg-list-item-title {
    color: var(--navyblue);
    font-size: 20px;
    line-height: 24px; /* 120% */
    letter-spacing: 0.4px;
}
.demoimg-list-item-subtitle {
    color: var(--slate);
}
footer {
    background-color: var(--navyblue);
}
.footer-content {
    color: var(--light-slate)
}